################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MD_Test/v14
/Debug
/MD_Test.VC.db
/MD_Test.vcxproj.filters
/MD_Test.VC.VC.opendb
/MD_Test.vcxproj.user
/.vs
/.vs
/Data
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/MD_Test/v15/ipch/AutoPCH/MD_TEST-82944863/MDTEST-a088119b/MDTEST.ipch
/.vs/MD_Test/v15/Browse.VC.opendb
/.vs/MD_Test/v15/Browse.VC.db
/.vs/MD_Test/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/MD_Test/v15/ipch/AutoPCH/MD_TEST-82944863/MDTEST-a088119b/MDTEST.ipch
/.vs/MD_Test/v15/Browse.VC.opendb
/.vs/MD_Test/v15/Browse.VC.db
/.vs/MD_Test/v15/.suo
