################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MD_Test/v14
/Debug
/MD_Test.VC.db
/MD_Test.vcxproj.filters
/MD_Test.VC.VC.opendb
/MD_Test.vcxproj
